<div class="top-wrapper">
  <div class="title">
    <h1 class="wf-nicomoji"><font size="7">はやくちちぇっかー</font></h1>
  </div>
  <div class="menu">
    <%= link_to new_game_url do %>
      <button class="btn btn-primary btn-lg wf-roundedmplus1c">早速計測してみる</button>
    <% end %>
  </div>
</div>