@import 'games/new';
@import 'index';
@import 'games/result';
@import 'bootstrap';


.wf-nicomoji { font-family: "Nico Moji"; }
.wf-roundedmplus1c { font-family: "M PLUS Rounded 1c"; }
.wf-mplus1p { font-family: "M PLUS 1p"; }
