// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-wrapper {
    position: relative;
    background-image: image-url("home.jpeg");
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 100%;

.title {
    color: rgb(255, 0, 255);
    text-align: center;
  
}



.btn-primary {
    background: rgb(255, 0, 255);
    position: absolute;
    right: 0;
    top: 50%;
    width: 300px;
    height: 70px;
    color: white; //ボタンのテキストの色
    border-color: white;
}

.btn-primary:hover, .btn-primary:active {
    background-color: rgb(221, 1, 221) !important;
    border-color: white !important;
}
}

@media (max-width: 540px) {
    .top-wrapper {
      height: 650px;
      background-position: 30% 50%;
    .btn-primary {
      width: 200px;
      top: 25%;
    }
    }

}