// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
    position: relative;
    background-image: image-url("haikei.jpeg");
    background-size:cover;
    background-position: center;
    height: 100vh;
    min-width: 100%;
h1{
    color: white;
    text-align: center;
}

.explanation {
    text-align:center
}
p {
    font-size: 1.1em;
    font-weight: 800;
    display: inline-block;
    text-align: left;
}

.audio_hakei {
    height: 25vh;
}

.mike {
    position: relative;
    height: auto;
    width: 130px;
    margin: auto;
    top: 10px;
}

input {
    position: absolute;
    width:130px;
    top: 150px;
}
}