.container {
    position: relative;
    background-image: image-url("haikei.jpeg");
    background-size:cover;
    background-position: center;
    height: 100vh;
    min-width: 100%;

.speed {
    height: auto;
}
}